@using WebApplication2.ViewModel;
<style>
    .aftercatg:hover::after {
        background-color: lightgreen;
        transition: 0.3s;
    }
    .aftercatg::after {
        background-color: greenyellow;
    }
</style>

@model CategoriaViewModel
<ul>
    @foreach (Categoria c in Model.Categorias)
    {
        <li>
            <a class="dropdown-item aftercatg" style="background-color:green; font-weight: bold; color: white;
            padding: 10px; border-radius: 10px; text-shadow: 0px 1px 0px black;"
               asp-action="ProdutosByCategoria" asp-controller="Produto" asp-for="@c.CategoriaNome"
               asp-route-idCategoria="@c.IdCategoria" name="idCategoria">@c.CategoriaNome</a>
        </li>
    }
</ul>
