@using WebApplication2.ViewModel;
@model ProdutoViewModel
@{
    ViewData["Title"] = "E-duCommerce, Seja bem-vindo a tecnologia!";

}
@if (TempData["Sucesso"] != null)
{
    <script>
        alert('@TempData["Sucesso"]');
    </script>
}
<style>
    #sect{
        width: 100%;
        background-color: #242729;
        position: absolute;

    }
</style>

<link rel="stylesheet" href="~/css/PaginaInicial.css" />
    <div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Imagens/razer-brand-banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Imagens/mg.jpg" class="d-block w-100" alt="...">
            </div>
           
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<section id="sect">
    <div class="banneratras">
        <div class="bannerup">
            @foreach (var produto in Model.Produtos)
            {
                <div class="card-deck">
                    <partial name="_SearchBy" for="@produto" />
                </div>
            }
        </div>
    </div>
</section>