<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Desenvolvedor de Software Fullstack</h1>
            <p class="text-center">Eduardo Ramos da Silva</p>
            <hr>
            <div class="text-center">
                <a href="https://github.com/EduRamoss3" class="btn btn-primary me-2" target="_blank">GitHub</a>
                <a href="https://api.whatsapp.com/send?phone=+35997498035" class="btn btn-success me-2" target="_blank">WhatsApp</a>
                <a href="mailto:eduardoramosdeveloper@outlook.com" class="btn btn-info me-2">Email</a>
                <a href="https://www.linkedin.com/in/eduardo-ramos-da-silva-9a7835245/" class="btn btn-dark" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</div>