
<footer>
    <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-dark bg-dark" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color:white;">
                    <h6> &copy; 2024 - EduCommerce</h6>
                    <p class="text-justify">
                        Aqui você encontra o seu produto!
                    </p>
                </div>
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h6>Tem alguma dúvida?</h6>
                    <ul class="list-unstyled">
                        <li class="py-1"> +55 35 997498035</li>
                        <li class="py-1"><a href="eduardoramosdeveloper@outlook.com" style="color: yellow">eduardoramosdeveloper@outlook.com</a> </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

</footer>