<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">E-duCommerce</a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Loja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Redes Sociais
                        </a>
                    </li>
                    <li class="nav-item">
                        @await Component.InvokeAsync("CarrinhoComponent")
                    </li> 
                    <li class="nav-item">
                        @if (ViewData["Title"] == "E-duCommerce, Seja bem-vindo a tecnologia!")
                        {
                            <partial name="_Searching" />
                        }
                    </li>
                   
                </ul>    
            </div>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
