<form class="d-flex" asp-controller="Home" asp-action="SearchBy" method="get">
    <input class="form-control me-2" type="search" placeholder="Pesquisar produto.." 
    name="searchString" value="@ViewData["searchString"]" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Ok</button>
</form>