@model Produto
<link rel="stylesheet" href="~/css/Variaveis.css" />
<div class="card" id="titulos" style="width: 18rem; height: 800px;font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif;">
    @if (Model.ImagemUrl.Contains("www"))
    {
        <img class="card-img-top" src='@Model.ImagemUrl' width="200" height="250" alt="Card image cap">
    }
    else
    {
        <img class="card-img-top" src='~/Imagens/@Model.ImagemUrl' width="200px" height="250px" alt="Card image cap">
    }
    
    <div class="card-body">
        <h5 class="card-title">@Model.Nome</h5>
        <p class="card-text">@Model.DescricaoCurta</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" id="groupitem">de <span id="antigoPreco">R$@Model.AntigoPreco</span> por: <span id="focoItem">R$@Model.Preco</span></li>
        <li class="list-group-item" id="backgroundcartao">em até <span id="danger">12x de R$@Model.MaxVezes</span> sem juros no cartão!</></li>
        <li class="list-group-item" id="avista">à vista <span id="focoItem">R$@Model.AVista</span></li>
    </ul>
    <div class="card-body">
        <span class="card-text" style="color:red; font-weight:bold;">R$@Model.Preco</span>
        <span class="card-subtitle" id="pix">No PIX com 10% de desconto</span>
    </div>
    <div class="text-box">
        <a class="btn btn-outline-success" asp-controller="Produto" asp-action="ProdutoDetalhe" method="get" asp-route-id="@Model.IdProduto" role="button">Detalhes</a>
    </div>
</div>