@using WebApplication2.ViewModel;
@model UsuarioViewModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<style>
    body{
        background-color: #242729;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-color: white;
        flex-wrap: wrap;
    }
</style>
<div class="container">
    <table class="table-responsive-lg" style="color: white;">
        <tr>
            <td>
                <div class="row row-cols-xl-auto">
                    <div class="col-10 col-md-10 col-lg-10" >

                        <form asp-controller="Usuario" asp-action="Login" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-8">
                                <label asp-for="Usuario"></label>
                                <input asp-for="Usuario" />
                                <span class="text-danger" asp-validation-for="Usuario"></span>
                            </div>
                            <div class="col-md-8">
                                <label asp-for="Senha"></label>
                                <input asp-for="Senha" />
                                <span class="text-danger" asp-validation-for="Senha"></span>
                            </div>
                            <div class="col-md-6">
                                <input class="btn btn-success" asp-controller="Usuario" asp-action="Login" formmethod="post" type="submit" role="button" value="Login" />
                            </div>
                        </form>
                    </div>
                </div>

            </td>
        </tr>

    </table>


</div>
