@using EduCommerceWeb.Configuration.ConfigImages;
@model FileManagerModel
@{
    ViewBag.Title = "Arquivos";
}
<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .image-card {
        width: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

        .image-card img {
            max-width: 100%;
            height: auto;
        }

    .delete-button {
        position: absolute; 
        bottom: 10px; 
        left: 50%;
        transform: translateX(-50%);
        background-color: #dc3545;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        display: none; 
    }

    .image-card:hover .delete-button {
        display: block; 
        
    }
</style>

@if (Model.Files != null)
{
    <h3>Imagens:</h3>
    <hr />
    var caminho = Model.PathImagesProduto;
    <div class="image-grid">
        @foreach (FileInfo file in Model.Files)
        {
            <div class="image-card">
                <p style="color: black">@file.Name</p>
                <img src="~/@caminho/@file.Name" alt="@file.Name">
                <a href="@Url.Action("DeleteFile","AdminImagens", new { fname=file.Name })" class="delete-button">Deletar</a>
            </div>
        }
    </div>
}
