body {
    font-weight: 800;
    margin: 0;
    padding: 0;
    width: 100vw;
}
label {
    margin-top: 20px;

}
.inputs {
    margin-top: 20px;
    margin-bottom: -25px;
}
.form-group {


}
.formulario {
    margin-top: 70px;
    display: grid;
    justify-content:center;
    background-color: #afcee9;
    width: 600px;
    height: 540px;
    border-radius: 10px;
    font-family: Alef;
}
.container{
    display: grid;
    justify-content:center;
    width:100%;
    height: 900px;
    border: 1px solid white;
    border-radius: 10px;

}