body {
    background-image: linear-gradient(180deg, hsl(233deg 26% 14%) 9%, hsl(232deg 36% 17%) 40%, hsl(230deg 45% 19%) 52%, hsl(229deg 52% 22%) 61%, hsl(228deg 59% 24%) 68%, hsl(227deg 65% 27%) 74%, hsl(226deg 71% 29%) 79%, hsl(226deg 75% 32%) 85%, hsl(226deg 78% 35%) 91%, hsl(227deg 78% 38%) 100%);
    background-size: 100% 100%;
    background-color: hsl(227deg 78% 38%) !important;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.banneratras {
    display: flex;
    height: 100%;
    width: 90%;
    padding: 10px;

}

.natal {
    margin-top: 11px;
    padding: 0;
    width: 100%;
    border-radius: 10px;
    margin-bottom: -250px;
}
.containerx{
    width: 900px;
    height: 100%;
    margin-top: 100px;
    border: 1px ridge white;
    
}

.bannerup {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 12px;
    padding: 20px 20px 10px; /* Adiciona espaço vazio dos dois lados e um pouco de espaço no topo */
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    position: relative;
}
    @media (min-width: 768px) {
        .bannerup {
            padding: 0 calc(2 * 16px); /* Adiciona espaço vazio dos dois lados, aproximadamente dois dedos */
        }
    }

    .sect {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242729;
    padding: 10px;
    margin: 0 auto;

}

.card {
    background-color: #333030;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%; /* Garante que o card ocupe 100% da largura do seu contêiner */
}

.img-loja {
    background-color: #565656;
    border-radius: 10px;
    width: 100%;
    height: 70%;
}

.nome-item {
    font-family: Roboto, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}

.precoitem {
    color: #00ea05;
    font-size: 1.470rem;
    font-family: Roboto;
    font-weight: 800;
    line-height: 1.43;
    font-weight: bolder;
    margin-top: 10px;
}

.btndetail {
    font-size: 20px;
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    font-family: Gadugi;
    margin-top: 10px;
}