body {
    background-color: #242729;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.banneratras {
    display: flex;
    border:ridge;
    border-color:green;
    border-radius: 10px;
    height: 100%;
    width: 90%;
    padding: 10px;

}

.natal {
    margin-top: 11px;
    padding: 0;
    width: 100%;
    border-radius: 10px;
    margin-bottom: -250px;
}
.containerx{
    width: 900px;
    height: 100%;
    margin-top: 100px;
    border: 1px ridge white;
    
}

.bannerup {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-radius: 10px;
    gap: 12px;
    padding: 20px 20px 10px; /* Adiciona espaço vazio dos dois lados e um pouco de espaço no topo */
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to right top, #11080d, #1e181d, #2a252c, #35333b, #41424b, #444e5d, #425b6f, #3a6a7e, #007a8a, #008a88, #009877, #19a35a);
}

@media (min-width: 768px) {
    .bannerup {
        padding: 0 calc(2 * 16px); /* Adiciona espaço vazio dos dois lados, aproximadamente dois dedos */
    }
}
.sect {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242729;
    padding: 10px;
    margin: 0 auto;

}

.card {
    background-color: #333030;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%; /* Garante que o card ocupe 100% da largura do seu contêiner */
}

.img-loja {
    background-color: #565656;
    border-radius: 10px;
    width: 100%;
    height: 70%;
}

.nome-item {
    font-family: Roboto, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}

.precoitem {
    color: #00ea05;
    font-size: 1.470rem;
    font-family: Roboto;
    font-weight: 800;
    line-height: 1.43;
    font-weight: bolder;
    margin-top: 10px;
}

.btndetail {
    font-size: 20px;
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    font-family: Gadugi;
    margin-top: 10px;
}