
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px 0;
    }
</style>
<h1 class="text-center" style="color:red; font-size:60px;"><strong>Você não tem autorização para entrar nessa página!</strong></h1>